.NewTodoStyle {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 130, 241);
    width: 100%;
    outline-style: none;
    margin: 16px auto;
    padding: 16px;
    text-align: center;

    
    font-style: italic;
}

.Label {
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(202, 209, 216);
    padding: 4px;
    margin: 4px auto;
    border-radius: 6px;
}

.Input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;
    color: dodgerblue;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 4px;
}